<?php
/*
This file is part of Youless Monitor.

Youless Monitor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Youless Monitor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Youless Monitor.  If not, see <http://www.gnu.org/licenses/>.
*/

// Rename to settings.inc.php

// DB Settings
define('DB_HOST', 'localhost');	
define('DB_NAME', 'youless');
define('DB_USER', 'root');
define('DB_PASS', 'password');

// Use this to put a prefix before the name of all the tables
define('DB_PREFIX', '');

// YouLess settings
define('YL_ADDRESS', '192.168.1.125');
define('YL_PASSWORD', '');

// Set this to true if you don't care for any protection (e.g. running on a private LAN)
define('NO_LOGIN', false);

// Set this to true to get all kinds of verbose debuging output
define('VERBOSE', false);
?>